.b{
    margin-bottom: 10%;
}

.b1{
    margin-top: 40px;
}

.btn1{
    background-image: linear-gradient(to left, purple , blue ,whitesmoke);
    font-size: 1rem;
    color: black;
    padding: 13px 15px;
    padding-right: 165px;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 25%;
    cursor: pointer;
}

.btn2{
    background-image: linear-gradient(to left, purple , blue ,whitesmoke);
    font-size: 16px;
    color: black;
    padding: 13px 15px;
    padding-right: 165px;
    border-radius: 30px;
    margin-left: 3%;   
    cursor: pointer;
}

.btn3{
    background-color: white;
    font-size: 16px;
    border: solid 2px dodgerblue;
    padding: 16px 14px;
    border-radius: 30px;
    margin-left: 40%;
    cursor: pointer;
}