.box{
    margin-top: 165px;
    margin-bottom: -9px;
}

.box1{
    margin-top: -130px;
    margin-bottom: -35px;
}

.box2{
    margin-top: -130px;
    margin-bottom: -35px;
}

.box3{
    margin-top: 55px;
}

.tb{
    background-color: whitesmoke;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 10px 12px;
    margin-top: 12%;
    margin-left: 24%;   
}

.tb1{
    background-color: whitesmoke;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 10px 12px;
    margin-top: 12%;
    margin-left: 24%;
    
}

.tb2{
    background-color: whitesmoke;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 10px 12px;
    margin-top: 12%;
    margin-left: 24%;
    
}

.btn{
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    border: none;
    padding: 9px 95px;
    border-radius: 30px;
    margin-left: 40%;
    cursor: pointer;
}